@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

.markdown-wrapper {
  padding: 40px;

  & h1 {
    color: #335d92;
    text-transform: uppercase;
    font-size: 3rem;
    line-height: 1.1;
    text-align: center;
  }

  & h2 {
    color: #335d92;
    font-size: 2rem;
    padding: 8px 0;
  }

  & h3 {
    color: #335d92;
    font-size: 1.6rem;
    padding: 6px 0;
  }

  & h4 {
    color: #335d92;
    font-size: 1.4rem;
  }

  & p {
    line-height: 1.35;
  }

  & blockquote  {
    border-left: 4px solid #2980b9;
    padding: 10px 20px;
    margin: 20px 0;
    background: #f9f9f9;
    color: #555;
  }
  & pre {
    padding: 10px 0;
    background: #f9f9f9;
    color: #555;
    margin: 20px 0;
  }

  & ul,
  ol {
    list-style-type: none;
    padding: 0;
    margin: 8px 0;
  }

  & li {
    position: relative;
    padding: 4px 12px;
  }

  & li::before {
    content: '';
    /* Empty content for the circle */
    position: absolute;
    /* Position it absolutely */
    left: 0;
    /* Align to the left */
    top: 16px;
    /* Center vertically */
    transform: translateY(-50%);
    /* Adjust for perfect centering */
    width: 6px;
    /* Width of the circle */
    height: 6px;
    /* Height of the circle */
    background-color: #335d92;
    border-radius: 50%;
    /* Make it a circle */
  }

}
